.middle {
    max-width: 900px;
    margin: auto;
    text-align: justify;
    box-sizing: border-box;
}

#box1 {
    float: left;
    width: 40%;
}

#box2 {
    float: right;
    width: 40%;
}

.clear {
    clear: both;
}